@media only screen and (max-width: 425px) and (min-width: 376px){
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
    .form{
        width:100vw;
        height:100vh;
        border-radius: 0px;
        margin: 0;
        overflow-y: hidden;
    }

    .formHeader{
        display: flex;
        justify-content: flex-end;
        margin: 75px 0px 100px 0px;
    }

    .signup{
        position:absolute;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: rgb(240, 198, 145);
        width: 75vw;
        height: 37.5vh;
        left:-100px;
        top:-150px;
    }

    .signup > h1 {
        margin: 190px 0px 0px 75px;
        color:white;
        font-weight: 700;
    }

    .exitCross{
        width: 12vw;
        height: 6vh;
        margin-right:25px;
    }

    .closeSignup{
        position:absolute;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: rgb(228, 193, 151);
        width: 50vw;
        height: 25vh;
        left:30%;
        top:-100px;
        z-index: -1;
    }

    .formBox{
        margin-top: 125px;
    }

    .form-group{
        margin-top: 25px;
    }

    .error-message{
        z-index: 10;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:100vw;
      }

    .buttonSignup{
        margin-top: 75px;
    }
}