@media only screen and (max-width: 426px) {
  @import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
  .form {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    margin: 0;
    overflow-y: hidden;
  }

  .formHeader {
    display: flex;
    justify-content: flex-end;
    margin: 75px 0px 100px 0px;
  }

  .signup {
    position: absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(240, 198, 145);
    width: 75vw;
    height: 37.5vh;
    left: -100px;
    top: -100px;
  }

  .signup > h1 {
    margin: 175px 0px 0px 75px;
    color: white;
    font-weight: 700;
  }

  .exitCross {
    width: 12vw;
    height: 6vh;
    margin-right: 25px;
  }

  .closeSignup {
    position: absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(228, 193, 151);
    width: 50vw;
    height: 25vh;
    left: 30%;
    top: -50px;
    z-index: -1;
  }

  .formBox {
    margin: 125px 60px 0 60px;
  }

  .form-group {
    margin-top: 25px;
    width: 100%;
  }

  .error-message {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }

  .buttonSignup {
    margin: 50px auto 0 auto;
  }

  .eyeIcon{
    width:5vw;
  }
}

@media only screen and (max-width: 769px) and (min-width: 426px) {
  .form {
    width: 50vw;
    height: 65vh;
  }

  .exitCross {
    width: 2.5vw;
  }

  .eyeIcon {
    width: 2.5vw;
  }

  .buttonSignup{
    margin-top:75px;
  }

  .formSignUpTablet{
    margin-top:85px;
  }
}


@media only screen and (max-width: 1025px) and (min-width: 769px) {
  .form{
    width:30vw;
    height:60vh;
  }

}
@media only screen and (max-width: 1441px) and (min-width: 1025px) {
  .form{
    width:30vw;
    height:55vh;
  }

  .exitCross{
    width:2vw;
    height:3vh;
  }

  .eyeIcon{
    width:2vw;
  }
  
  .buttonSignup{
    margin: 6vh auto 0 auto;
  }
}