.errorDiv{
    position:absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items:center ;
    transform: translate(-50%, -50%);
    z-index: 8;
    border-radius:15px;
    background-color: antiquewhite;
    height:15vh;
}
.alignment{
    display: flex;
    flex-direction:column;
}
.error{
    margin:2vh;
    font-weight: 600;
    color:red;
}

.closeError{
    height:4vh;
    position:absolute;
    right:0%;
    top:0%;
}

.editPriceTitleDiv{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.editInputs{
    margin: 2vh 0;
}

@media screen and (max-width:1025px) and (min-width:769px){
    .addProductLabel{
        top:70%;
        left:50%;
    }

    .editProductDisplay{
        padding:3vw;
    }
}