.errorDiv{
    position:absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items:center ;
    transform: translate(-50%, -50%);
    z-index: 8;
    border-radius:15px;
    background-color: antiquewhite;
    height:15vh;
}
.alignment{
    display: flex;
    flex-direction:column;
}
.error{
    margin:2vh;
    font-weight: 600;
    color:red;
}

.closeError{
    height:4vh;
    position:absolute;
    right:0%;
    top:0%;
}

.editPriceTitleDiv{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.editInputs{
    margin: 2vh 0;
}

@media screen and (max-width:1025px) and (min-width:769px){

    .editProductDisplay{
        padding:3vw;
    }

    .editInputs{
        height: 5.5vh;
        width: 20vw;
    }

    .submitEditButton{
        width:6vw;
        height:5vh;
    }

}

@media screen and (max-width:1441px) and (min-width:1025px){
    .submitEditButton{
        width:4vw;
        height:3vh;
    }

}
@media screen and (max-width:1921px) and (min-width:1441px){
    .submitEditButton{
        width:4vw;
        height:3vh;
    }

    .inputSizes{
        width:12vw;
        height:4vh;
    }
}