  .box{
    margin-bottom: 10px;
    break-inside: avoid;
    border-radius: 15px;
    position: relative;
  }

  .configDiv{
    position:absolute;
    display: flex;
    justify-content: flex-end;
    width:100%;
  }
  .editButton, .deleteButton{
    top: 0;
    visibility: hidden;
    width:2.5vw;
  }

  .box:hover .editButton {
    visibility: visible;
  }

  .box:hover .deleteButton{
    visibility: visible;
    border-top-right-radius: 15px;
  }

  .box .productImage{
    max-width: 100%;
    object-fit: cover;
    height:auto;
    border-radius: 15px;
  }

  .box .productImage:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  }
  
  .box:hover {
    transform: scale(1.02); 
    cursor: pointer;
    transition: 0.5;
  } 

  .box:hover .infoTag{
    opacity: 0.75; 
    transform: translateY(0);
    visibility: visible;
  } 

  .infoTag {
    position: absolute;
    bottom: 8%;
    box-sizing: border-box;
    padding: 6px;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
    opacity:0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .priceTag{
    margin-left: 10px;
    text-shadow: 5px 5px 10px black;
    font-weight: 600;
    font-size: 20px;
  }

  .titleTag{
    margin-left: 10px;
    text-shadow: 5px 5px 10px black;
    font-weight: 600;
    font-size: 20px;
  } 

  .links:focus, :hover, :visited, :link, :active {
    text-decoration: none;
  }
    
  @media only screen and (max-width: 425px) and (min-width: 376px){
    .box{
      margin-bottom: 5px;
    }
  }