.pinterestLayout{
  width:1400px;
  margin: 0 auto;
  columns: 4;
  column-gap:20px;
  min-height:65vh;
}


@media only screen and (max-width: 1200px)
{
  .pinterestLayout{
      width: calc(100% - 40px);
      columns: 3;
  }
}

@media only screen and (max-width: 768px)
{
  .pinterestLayout{
      columns: 2;
  }
}

@media only screen and (max-width: 425px)
{
  .pinterestLayout{
      columns: 2;
      column-gap: 10px;
  }
}

@media only screen and (max-width: 375px)
{
  .pinterestLayout{
      columns: 1;
  }
}