.slideContainer {
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/df3vc4osi/image/upload/v1684496288/titaWebsite/overlay_eftwox.png");
  background-repeat: repeat;
}

.leftArrow {
  position: absolute;
  top: 42%;
  transform: translate(0 -50%);
  left: 5%;
  font-size: 45px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rightArrow {
  position: absolute;
  top: 42%;
  transform: translate(0 -50%);
  right: 5%;
  font-size: 45px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dashContainer {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.dashes {
  margin: 0 3px;
  cursor: pointer;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.slideShow {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.title {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  top: 40%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-weight: 600;
  font-size: 3.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slideOverflow {
  overflow: hidden;
  height: 100%;
}

.slideShowContainer {
  height: 100%;
  display: flex;
  transition: ease-out 1.5s;
  cursor: pointer;
}

@media only screen and (max-width: 376px) {
  .slideContainer {
    width: 100vw;
  }

  .leftArrow,
  .rightArrow {
    font-size: 23px;
  }

  .leftArrow,
  .rightArrow {
    top: 44%;
  }

  .title {
    top: 39%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 424px) and (min-width: 377px) {
  .slideContainer {
    width: 100vw;
  }

  .leftArrow,
  .rightArrow,
  .dashes {
    font-size: 23px;
  }

  .leftArrow,
  .rightArrow {
    top: 47%;
  }

  .title {
    top: 37%;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 769px) and (min-width: 425px) {
  .slideContainer {
    width: 100vw;
  }

  .leftArrow,
  .rightArrow,
  .dashes {
    font-size: 23px;
  }

  .leftArrow,
  .rightArrow {
    top: 42%;
  }

  .title {
    top: 37%;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
  .slideContainer {
    width: 80vw;
  }

  .leftArrow,
  .rightArrow,
  .dashes {
    font-size: 23px;
  }

  .leftArrow,
  .rightArrow {
    top: 42%;
  }

  .title {
    top: 37%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1441px) and (min-width: 1025px) {
  .slideContainer {
    width: 80vw;
  }

  .leftArrow,
  .rightArrow,
  .dashes {
    font-size: 30px;
  }

  .leftArrow,
  .rightArrow {
    top: 45%;
  }

  .title {
    top: 37%;
    font-size: 3rem;
  }
}
