.containerCarousel{
max-width: 60vw;
height: 50vh;
margin: 0 auto 50px auto;
}

hr{
    max-width: 60vw;
    margin: 0 auto;
}

.mainContainer{
    max-width: 60vw;
    margin: 50px auto 0 auto;
    background-color: antiquewhite;
    height: 50vh;
}